* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: Roboto;
}

html,
body,
#root {
  height: 100%;
}

@keyframes Spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  height: 100%;
  overflow: hidden;
  background-color: #2b2e3b;

  .drag-zone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    -webkit-app-region: drag;
    z-index: 1000;
  }

  .initial {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #00acc1;
    position: relative;

    .logo {
      fill: #a0eaf9;

      &:hover {
        cursor: pointer;
      }
      &:active {
        fill: #00acc1;
      }
    }

    span {
      color: #ffffff;
    }

    &.drag {
      fill: #205a79;
      color: #205a79;

      span {
        color: #205a79;
      }
    }

    .message {
      margin-top: 1em;
    }

    .mode {
      position: absolute;
      bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .switch {
        margin: 0 10px;
      }

      span {
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;

        &:hover {
          cursor: pointer;
        }

        &.checked {
          color: #ec407a;
        }
      }
    }
  }

  .loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0eaf9;

    @media (prefers-reduced-motion: no-preference) {
      .spinner {
        animation: Spinner infinite 5s linear;
      }
    }
  }
}
